.main-screen {
	padding-top: 245px;
	padding-bottom: 18px;
	background-image: url('../images/main-screen-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: var(--cs-blue-light);
	position: relative;

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
        bottom: 0;
		background-color: var(--cs-blue-light);
        animation: preload_main_screen forwards 3s 1s;
	}

	&__container {
		position: relative;
        max-width: 751px;
	    padding-bottom: 175px;
	}

    .subtitle {
        font-weight: 400;
        font-size: 50px;
        line-height: 100%;
        letter-spacing: -0.03em;
        color: var(--cs-bg-color);
        margin-top: 0;
        margin-bottom: 0;
    }

    .title {
        font-weight: 700;
        font-size: 110px;
        line-height: 100%;
        letter-spacing: -0.03em;
        color: var(--cs-bg-color);
        margin-top: 20px;
        margin-bottom: 25px;
    }

    .text {
        font-weight: 400;
        font-size: 21px;
        line-height: 130%;
        color: var(--cs-bg-color);
        margin-top: 0;
        margin-bottom: 40px;
        max-width: 641px;
    }

    .links-group {
        @include flex-v-center;
        gap: 20px;

        a {
            display: block;
            font-weight: 700;
            font-size: 16px;
            line-height: 100%;
            text-align: center;
            letter-spacing: -0.03em;
            padding: 21px 25px;
            background: rgba(243, 251, 255, 0.15);
            backdrop-filter: blur(20px);
            border-radius: 12px;
            color: var(--cs-bg-color);
            transition: all ease-in-out .4s;

            &:hover {
                background: rgba(243, 251, 255, 0.30);
            }
        }

        .target-form {
            background: #FBD128;
            box-shadow: 0px 12px 40px 3px transparent;
            border-radius: 12px;
            backdrop-filter: none;

            &:hover {
                background: #FBD128;
                box-shadow: 0px 12px 40px 3px rgba(235, 197, 45, 0.3);
            }
        }
    }

    .infinity-banner {
        background: rgba(11, 37, 69, 0.3);
        backdrop-filter: blur(20px);
        padding-top: 14px;
        padding-bottom: 16px;

        .running {
            @include flex-v-center;
            animation: 15s linear infinite scrollRunning;
        }

        span {
            font-weight: 400;
            font-size: 13px;
            line-height: 100%;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: var(--cs-bg-color);
            padding-right: 31px;
            margin-right: 20px;
            position: relative;
            white-space: nowrap;

            &::before {
                content: "";
                position: absolute;
                width: 11px;
                height: 11px;
                background-image: url('../images/icon/star.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: auto;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

.point {
    padding-top: 130px;
    padding-bottom: 50px;
    position: relative;

    &__container {
        text-align: center;
        margin-bottom: 55px;

        .label {
            font-weight: 700;
            font-size: 13px;
            line-height: 100%;
            letter-spacing: -0.03em;
            padding: 11px 20px;
            border-radius: 12px;
            color: var(--cs-grey);
            border: 1px solid var(--cs-blue-thin);
        }

        .title {
            font-weight: 700;
            font-size: 50px;
            line-height: 100%;
            letter-spacing: -0.03em;
            color: var(--cs-blue);
            margin-top: 40px;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
            max-width: 1028px;

            span {
                color: var(--cs-main);
            }
        }

        .text {
            font-weight: 400;
            font-size: 21px;
            line-height: 130%;
            color: var(--cs-text-main);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &-slider {
        overflow: visible;

        .image {
            cursor: grabbing;
            opacity: .3;
            transition: all ease-in-out .4s;

            img {
                border-radius: 12px;
            }
        }

        .swiper-slide-active,
        .swiper-slide-next {
            .image {
                opacity: 1;
            }
        }
    }
}
