<footer class="footer">
    <div class="wrapper">
        <div class="footer__container">
            <div class="info">
                <a class="logo" href="/">
                    <img src="images/icon/logo.svg" alt="UA BGROWTH 2023">
                </a>
                <p class="text">
                    Привіт, молодь Одеського регіону! Ми раді запропонувати вам унікальну
                    можливість взяти участь у конкурсі на кращий проект зі створення стартапу у
                    блакитній економіці.
                </p>
            </div>
            <div class="block">
                <h3>
                    Організатори:
                </h3>
                <ul class="list-reset">
                    <li>Марія Варгатюк</li>
                    <li>Имя Фамилия 2</li>
                    <li>Имя Фамилия 3</li>
                    <li>Имя Фамилия 4</li>
                </ul>
            </div>
            <div class="block">
                <h3>
                    Адреса:
                </h3>
                <a href="https://goo.gl/maps/o3VbC62KXuQQoFd98" target="_blank">
                    Україна, 65012, м. Одеса,<br>
                    вул. Пантелеймонівська, 13
                </a>
            </div>
            <div class="block">
                <h3>
                    Контакти:
                </h3>
                <a href="tel:+380965520677">
                    <span>Марія Варгатюк</span><br>
                    +380965520677
                </a>
                <a href="mailto:hackathonosau2023@ukr.net" target="_blank">
                    hackathonosau2023@ukr.net
                </a>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <div class="wrapper">
            <strong>
                © All rights reserved. <span>2023</span>. UA BGROWTH <span>2023</span>
            </strong>
            <butto type="button" class="btn-reset scroll-top">
                <svg width="20" height="12" viewBox="0 0 20 12" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5" d="M1 11L10 2L19 11" stroke-width="1.5"/>
                </svg>
            </butto>
        </div>
    </div>
</footer>
