<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#C7DBE6">
  <title>UA BGROWTH 2023 - Привіт, молодь Одеського регіону! Ми раді запропонувати вам унікальну можливість взяти участь у конкурсі на кращий проект зі створення стартапу у блакитній економіці</title>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
</head>
