<header class="header">
    <div class="wrapper">
        <div class="header__container">
            <a class="logo" href="#main">
                <img src="images/icon/logo.svg" alt="UA BGROWTH 2023">
            </a>
            <nav class="nav">
                <ul class="list-reset">
                    <li><a href="#economy">Блакитна економіка</a></li>
                    <li><a href="#competition">Умови конкурсу</a></li>
                    <li><a href="#looking">Кого ми шукаємо </a></li>
                    <li><a href="#details">Деталі конкурсу</a></li>
                    <li><a href="#rules">Регламент хакатона</a></li>
                </ul>
            </nav>
            <a class="link-target" href="#form">Хочу взяти участь</a>
            <button class="burger" aria-label="Открыть меню" aria-expanded="false"  data-burger>
                <span class="burger__line"></span>
            </button>
        </div>
		</div>
	</div>
</header>
