<section class="main-screen">
    <div class="wrapper">
        <div class="main-screen__container">
            <h2 class="subtitle">
                Хакатон
            </h2>
            <h1 class="title">
                UA BGROWTH<br>
                2023
            </h1>
            <p class="text">
                Привіт, молодь Одеського регіону! Ми раді запропонувати вам унікальну
                можливість взяти участь у конкурсі на кращий проект зі створення стартапу
                у блакитній економіці
            </p>
            <div class="links-group">
                <a class="target-form" href="#">Хочу взяти участь</a>
                <a href="#">Умови конкурсу</a>
            </div>
        </div>
    </div>
    <div class="infinity-banner">
        <div class="running">
            <span>Хакатон</span>
            <span>червень 2023 року</span>
            <span>Хакатон</span>
            <span>червень 2023 року</span>
            <span>Хакатон</span>
            <span>червень 2023 року</span>
            <span>Хакатон</span>
            <span>червень 2023 року</span>
            <span>Хакатон</span>
            <span>червень 2023 року</span>
            <span>Хакатон</span>
            <span>червень 2023 року</span>
            <span>Хакатон</span>
            <span>червень 2023 року</span>
            <span>Хакатон</span>
            <span>червень 2023 року</span>
            <span>Хакатон</span>
            <span>червень 2023 року</span>
            <span>Хакатон</span>
            <span>червень 2023 року</span>
            <span>Хакатон</span>
            <span>червень 2023 року</span>
            <span>Хакатон</span>
            <span>червень 2023 року</span>
            <span>Хакатон</span>
            <span>червень 2023 року</span>
            <span>Хакатон</span>
            <span>червень 2023 року</span>
        </div>
    </div>
</section>
<section class="point">
    <div class="wrapper">
        <div class="point__container">
            <span class="label">
                В чому сенс ?
            </span>
            <h2 class="title">
                У конкурсі <span>«Цифрова мережа блакитної економіки та прискорення інновацій»</span>
            </h2>
            <p class="text">
                ви зможете запропонувати свій стартап та взяти участь у блакитному інноваційному акселераторі
            </p>
        </div>
        <div class="swiper point-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="image">
                        <img src="images/points/1.jpg" alt="У конкурсі «Цифрова мережа блакитної економіки та прискорення інновацій»">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="image">
                        <img src="images/points/2.jpg" alt="У конкурсі «Цифрова мережа блакитної економіки та прискорення інновацій»">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="image">
                        <img src="images/points/3.jpg" alt="У конкурсі «Цифрова мережа блакитної економіки та прискорення інновацій»">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="info-banner">
    <div class="wrapper">
        <div class="info-banner__container">
            <span class="label">
                Станьте учасником
            </span>
            <h2 class="title">
                Для участі необхідно заповнити форму,
                доступну на платформі та надіслати її <span>до 30 квітня 2023 року</span>
            </h2>
            <a class="target-form" href="#">Заповнити форму</a>
        </div>
    </div>
</section>
<section class="economy" id="economy">
    <div class="wrapper">
        <div class="economy__container">
            <div class="group">
                <div class="info">
                    <span class="label">
                        Розвиток економіки
                    </span>
                    <h2 class="title">
                        Блакитна економіка - а що це таке?
                    </h2>
                    <p class="text">
                        <strong>Блакитна економіка</strong> - це напрямок розвитку економіки, який
                        спрямований на те, щоб створити більш стійке майбутнє для нашої планети та
                        людства.
                        <br><br>
                        Це означає, що ми шукаємо нові, інноваційні способи розвитку, які не тільки
                        приносять економічну користь, але й забезпечують збереження природних ресурсів
                        та підтримують здоров'я екосистем.
                    </p>
                </div>
                <div class="images environment">
                    <img src="images/economy/1.jpg" alt="Блакитна економіка - а що це таке?">
                </div>
            </div>
            <div class="group">
                <div class="info">
                    <p class="text">
                        Блакитна економіка дозволяє нам знайти рішення наскрізних проблем, таких
                        як забруднення повітря та води, енергетична залежність та зменшення
                        біорізноманіття.
                        <br><br>
                        Це дає можливість створювати нові робочі місця, які не тільки підтримують
                        економічний розвиток, але й сприяють збереженню навколишнього середовища.
                    </p>
                    <a class="target-form" href="#">Заповнити форму</a>
                </div>
                <div class="images wind">
                    <img src="images/economy/2.jpg" alt="Блакитна економіка - а що це таке?">
                </div>
            </div>
        </div>
    </div>
</section>
<div class="rules" id="rules">
    <div class="wrapper">
        <div class="rules__container">
            <h2 class="title">
                Регламент хакатона
            </h2>
            <a href="#" download>
                Завантажити PDF - регламент хакатона
            </a>
        </div>
    </div>
</div>
<div class="section-group">
    <section class="winners">
        <div class="wrapper">
            <div class="winners__container">
                <div class="images">
                    <img src="images/winners.jpg" alt="Переможці та нагородження">
                    <a href="#" target="_blank">
                        <div class="play-img">
                            <img src="images/icon/play.svg" alt="play">
                        </div>
                        <span>Дивитись відео</span>
                    </a>
                </div>
                <div class="info">
                    <span class="label">
                        Переможцями стали
                    </span>
                    <h2 class="title">
                        Переможці&nbsp;та<br> нагородження
                    </h2>
                    <div class="group">
                        <div class="group__image">
                            <img src="images/icon/star-accent.svg" alt="star">
                        </div>
                        <div class="group__info">
                            <h3>Нагорода:</h3>
                            <p>
                                Vitae quis nunc ultricies amet fermentum tincidunt mollis.
                                Quis viverra libero viverra a nisi in at justo vulputate.
                                Tincidunt leo in mauris donec ornare
                            </p>
                        </div>
                    </div>
                    <div class="group">
                        <div class="group__image">
                            <img src="images/icon/winners.svg" alt="star">
                        </div>
                        <div class="group__info">
                            <h3>Перемогли:</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur. Eu morbi id amet in ipsum.
                                Vitae commodo amet quisque aenean fringilla ultrices malesuada
                                dui pulvinar.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="competition" id="competition">
        <div class="wrapper">
            <div class="competition__container">
                <span class="label">
                    Що потрібно знати для участі
                </span>
                <h2 class="title">
                    Умови конкурсу
                </h2>
                <h3 class="subtitle">
                    Умови конкурсу дуже прості:
                </h3>
                <div class="competition__blocks">
                    <div class="block">
                        <div class="image">
                            <img src="images/icon/rocket.svg" alt="Ваш проект">
                        </div>
                        <p>
                            Ваш проект повинен бути спрямований на створення стартапу в блакитній
                            економіці та використовувати цифрові технології для його прискорення
                        </p>
                    </div>
                    <div class="block">
                        <div class="image">
                            <img src="images/icon/business-partnership.svg" alt="Ваша команда">
                        </div>
                        <p>
                            Ваша команда повинна бути
                            з Одеського регіону та складатися
                            з молодих талановитих людей
                        </p>
                    </div>
                </div>
                <p class="text">
                    Не пропустіть свій шанс створити успішний стартап та отримати фінансування від
                    Європейського Союзу. Заповнюйте форму на платформі та надсилайте заявки до 30
                    квітня 2023 року! Успіхів вам!
                </p>
                <a class="target-form" href="#">Заповнити форму</a>
            </div>
        </div>
    </section>
    <section class="looking" id="looking">
        <div class="wrapper">
            <div class="looking__container">
                <div class="content">
                    <span class="label">
                        Станьте учасником
                    </span>
                    <h2 class="title">
                        Кого ми шукаємо
                    </h2>
                    <p class="text">
                        Ми шукаємо молодих підприємців з найкращими бізнес-ідеями, які можуть
                        допомогти зробити Одеську область ще кращою. Якщо ви один з таких
                        кандидатів, тоді ми маємо для вас величезну новину!
                    </p>
                    <div class="block">
                        <strong>XX червня 2023 р</strong>
                        <p>
                            відбудеться Хакатон, де ви зможете продемонструвати свої навички
                            та отримати<br> корисні поради від наших крутих менторів.
                        </p>
                    </div>
                    <div class="block">
                        <strong>XX червня 2023 р</strong>
                        <p>
                            А на наступний день, … червня 2023 року, відбудеться
                            найголовніший день - Demo Day!
                        </p>
                    </div>
                </div>
                <div class="images">
                    <img src="images/looking-img.jpg" alt="Кого ми шукаємо">
                </div>
            </div>
        </div>
    </section>
</div>
<section class="doit">
    <div class="wrapper">
        <div class="doit__text">
            <p>
                Це буде ваш шанс продемонструвати свою бізнес-ідею перед нашим вражаючим журі та
                отримати шанс стати переможцем і отримати круті призи.
                <br><br>
                Наше журі оцінюватиме вашу презентацію, тобто чіткість та логічність бізнес-моделі
                та інноваційний характер вашого рішення.
            </p>
            <p>
                Також ми шукаємо бізнес-ідеї, які мають екологічну та соціальну відповідальність,
                тому якщо ваша ідея може зробити світ чистішим та додати цінності для людей, то ви
                маєте шанс отримати додаткові бали від нашого журі.
            </p>
        </div>
        <div class="doit__container">
            <span class="label">
                Час діяти - приходь та перемагай
            </span>
            <h2 class="title">
                Так що не втрачайте свій шанс і долучайтеся до нашого конкурсу!
            </h2>
            <a class="target-form" href="#">Заповнити форму</a>
        </div>
    </div>
</section>
<section class="details" id="details">
    <div class="wrapper">
        <span class="label">
            Дізнайся більше
        </span>
        <h2 class="title">
            Деталі конкурсу
        </h2>
        <div class="details__container">
            <div class="detail">
                <div class="image">
                    <img src="images/details/1.png" alt="Учасники">
                </div>
                <h3>
                    Учасники
                </h3>
                <p>
                    Конкурс відкритий для участі студентів та молодих підприємців віком від
                    <strong>18 до 35 років</strong>, які проживають в Одеському регіоні. Учасники повинні
                    розробити проект стартапу, який сприятиме розвитку блакитної економіки
                    в Одеському регіоні.
                </p>
            </div>
            <div class="detail">
                <div class="image">
                    <img src="images/details/2.png" alt="Проекти">
                </div>
                <h3>
                    Проекти
                </h3>
                <p>
                    Проекти можуть бути пов'язані з енергетикою, транспортом, водним
                    господарством, сільським господарством, туризмом, відновлювальними
                    джерелами енергії тощо.
                </p>
            </div>
            <div class="detail">
                <div class="image">
                    <img src="images/details/3.png" alt="Комісія">
                </div>
                <h3>
                    Комісія
                </h3>
                <p>
                    Комісія, складена з експертів з блакитної економіки та бізнесу, оцінить
                    проекти за такими критеріями, як інноваційність, ступінь впровадження
                    блакитної економіки, потенційна користь для громади та бізнесова стратегія.
                </p>
            </div>
            <div class="detail">
                <div class="image">
                    <img src="images/details/4.png" alt="Презентація">
                </div>
                <h3>
                    Презентація
                </h3>
                <p>
                    Після того, як будуть оцінені всі проекти, організатори проведуть хакатон,
                    де учасники конкурсу зможуть презентувати свої проекти. Це може бути дуже
                    корисно для учасників конкурсу, які зможуть отримати зворотний зв'язок від
                    експертів та потенційних інвесторів.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="result">
    <div class="wrapper">
        <div class="result__container">
            <div class="label">
                В результаті хакатону
            </div>
            <h2 class="title">
                <span>
                    Переможці отримують фінансову підтримку на розвиток
                </span>
                    свого стартапу, а також можливість презентувати свій проект широкому загалу
            </h2>
            <div class="image">
                <img src="images/result-img.jpg" alt="В результаті хакатону">
            </div>
            <div class="result__info">
                <div class="info">
                    <div class="info__circle">1 - 3</div>
                    <p class="info__text">
                        Три пропозиції з найбільшою кількістю балів отримають
                        круті призи – "_______" відповідно, які надає спонсор __________
                    </p>
                </div>
                <div class="info">
                    <div class="info__circle">1</div>
                    <p class="info__text">
                        А переможець отримає супер-головний приз та<br>
                        інкубаційний пакет
                    </p>
                </div>
                <div class="info">
                    <div class="info__circle">2 - 3</div>
                    <p class="info__text">
                         Решта дві нагороджені ідеї також отримають "інкубацію" для подальшого розвитку протягом наступних місяців –
                        з _________ по __________ 2023 року
                    </p>
                </div>
            </div>
            <div class="result__summary">
                <p class="text">
                    <span>Після цього три команди зобов'язані представити свої бізнес-плани</span>
                    та показати, наскільки вони підвищили свій рівень крутості
                </p>
            </div>
        </div>
    </div>
</section>
<section class="gallery">
    <div class="wrapper">
        <div class="gallery__top">
            <div class="image">
                <img src="images/gallery/1.jpg" alt="Збережи цей світ прекрасним">
            </div>
            <div class="image">
                <img src="images/gallery/2.jpg" alt="Збережи цей світ прекрасним">
            </div>
        </div>
        <div class="gallery__bottom">
            <div class="image">
                <img src="images/gallery/3.jpg" alt="Збережи цей світ прекрасним">
            </div>
            <div class="image">
                <img src="images/gallery/4.jpg" alt="Збережи цей світ прекрасним">
            </div>
            <div class="image">
                <img src="images/gallery/5.jpg" alt="Збережи цей світ прекрасним">
            </div>
        </div>
        <div class="banner">
            <h3 class="title">
                Збережи цей світ прекрасним
            </h3>
            <p class="text">
                Стань учасником хакатону
            </p>
            <a class="target-form" href="#">Заповнити форму</a>
        </div>
    </div>
</section>
<section class="about-us">
    <div class="wrapper">
        <span class="label">
            DBAN - проект
        </span>
        <h2 class="title">
            Хто ми є і що пропонуємо
        </h2>
        <p class="text">
            <strong>
                DBAN - проект, який прискорює інновації та розвиток блакитної економіки
                в Чорноморському регіоні.
            </strong>
            Це як своєрідний "акселератор" для блакитних ідей та планів, що фінансується
            Європейським Союзом. Ми хочемо об'єднати країни-партнери Болгарію, Грузію та Україну
            в одну цифрову мережу та реалізувати проекти, які підтримують блакитний розвиток.
        </p>
        <div class="about-us__container">
            <div class="about-us__group">
                <div class="info">
                    <div class="icon">
                        <img src="images/icon/idea.svg" alt="Стратегія SMART">
                    </div>
                    <div class="info__content">
                        <h3>Стратегія SMART</h3>
                        <p>
                            За допомогою регіональної стратегії SMART та планів дій,
                            ми зробимо кожен крок на шляху до цілей проекту.
                        </p>
                    </div>
                </div>
                <div class="info">
                    <div class="icon">
                        <img src="images/icon/smartphone.svg" alt="Blue eco mar">
                    </div>
                    <div class="info__content">
                        <h3>Blue eco mar</h3>
                        <p>
                            Крім того, ми розробляємо мобільний додаток Blue eco mar,
                            який дозволить зручно знаходити блакитні ресурси та зберігати
                            дані про стан морських екосистем.
                        </p>
                    </div>
                </div>
            </div>
            <div class="about-us__logo">
                <img src="images/dban-logo.png" alt="DBAN">
            </div>
            <div class="about-us__group">
                <div class="info">
                    <div class="icon">
                        <img src="images/icon/rocket-2.svg" alt="СМи організуємо">
                    </div>
                    <div class="info__content">
                        <h3>Ми організуємо</h3>
                        <p>
                            Ми організуємо конкурси, хакатони та пілотні проекти,
                            які допоможуть прискорити інноваційні ідеї.
                        </p>
                    </div>
                </div>
                <div class="info">
                    <div class="icon">
                        <img src="images/icon/target.svg" alt="Наша мета">
                    </div>
                    <div class="info__content">
                        <h3>Наша мета</h3>
                        <p>
                            Наша мета — створити цифрову інноваційну блакитну мережу для
                            розвитку Чорноморського регіону, починаючи з міст-партнерів
                            Бургасу, Батумі та Одеси.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
