<section class="main-screen">
    <div class="wrapper">
        <div class="main-screen__container">
            <h2 class="subtitle">
                Хакатон
            </h2>
            <h1 class="title">
                UA BGROWTH<br>
                2023
            </h1>
            <p class="text">
                Привіт, молодь Одеського регіону! Ми раді запропонувати вам унікальну
                можливість взяти участь у конкурсі на кращий проект зі створення стартапу
                у блакитній економіці
            </p>
            <div class="links-group">
                <a class="target-form" href="#">Хочу взяти участь</a>
                <a href="#">Умови конкурсу</a>
            </div>
        </div>
    </div>
    <div class="infinity-banner">
        <div class="running">
            <span>Хакатон</span>
            <span>червень 2023 року</span>
            <span>Хакатон</span>
            <span>червень 2023 року</span>
            <span>Хакатон</span>
            <span>червень 2023 року</span>
            <span>Хакатон</span>
            <span>червень 2023 року</span>
            <span>Хакатон</span>
            <span>червень 2023 року</span>
            <span>Хакатон</span>
            <span>червень 2023 року</span>
            <span>Хакатон</span>
            <span>червень 2023 року</span>
            <span>Хакатон</span>
            <span>червень 2023 року</span>
            <span>Хакатон</span>
            <span>червень 2023 року</span>
            <span>Хакатон</span>
            <span>червень 2023 року</span>
            <span>Хакатон</span>
            <span>червень 2023 року</span>
            <span>Хакатон</span>
            <span>червень 2023 року</span>
            <span>Хакатон</span>
            <span>червень 2023 року</span>
            <span>Хакатон</span>
            <span>червень 2023 року</span>
        </div>
    </div>
</section>
<section class="point">
    <div class="wrapper">
        <div class="point__container">
            <span class="label">
                В чому сенс ?
            </span>
            <h2 class="title">
                У конкурсі <span>«Цифрова мережа блакитної економіки та прискорення інновацій»</span>
            </h2>
            <p class="text">
                ви зможете запропонувати свій стартап та взяти участь у блакитному інноваційному акселераторі
            </p>
        </div>
        <div class="swiper point-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="image">
                        <img src="images/points/1.jpg" alt="У конкурсі «Цифрова мережа блакитної економіки та прискорення інновацій»">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="image">
                        <img src="images/points/2.jpg" alt="У конкурсі «Цифрова мережа блакитної економіки та прискорення інновацій»">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="image">
                        <img src="images/points/3.jpg" alt="У конкурсі «Цифрова мережа блакитної економіки та прискорення інновацій»">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="info-banner">
    <div class="wrapper">
        <div class="info-banner__container">
            <span class="label">
                Станьте учасником
            </span>
            <h2 class="title">
                Для участі необхідно заповнити форму,
                доступну на платформі та надіслати її <span>до 30 квітня 2023 року</span>
            </h2>
            <a class="target-form" href="#">Заповнити форму</a>
        </div>
    </div>
</section>
<section class="economy" id="economy">
    <div class="wrapper">
        <div class="economy__container">
            <div class="group">
                <div class="info">
                    <span class="label">
                        Розвиток економіки
                    </span>
                    <h2 class="title">
                        Блакитна економіка - а що це таке?
                    </h2>
                    <p class="text">
                        <strong>Блакитна економіка</strong> - це напрямок розвитку економіки, який
                        спрямований на те, щоб створити більш стійке майбутнє для нашої планети та
                        людства.
                        <br><br>
                        Це означає, що ми шукаємо нові, інноваційні способи розвитку, які не тільки
                        приносять економічну користь, але й забезпечують збереження природних ресурсів
                        та підтримують здоров'я екосистем.
                    </p>
                </div>
                <div class="images environment">
                    <img src="images/economy/1.jpg" alt="Блакитна економіка - а що це таке?">
                </div>
            </div>
            <div class="group">
                <div class="info">
                    <p class="text">
                        Блакитна економіка дозволяє нам знайти рішення наскрізних проблем, таких
                        як забруднення повітря та води, енергетична залежність та зменшення
                        біорізноманіття.
                        <br><br>
                        Це дає можливість створювати нові робочі місця, які не тільки підтримують
                        економічний розвиток, але й сприяють збереженню навколишнього середовища.
                    </p>
                    <a class="target-form" href="#">Заповнити форму</a>
                </div>
                <div class="images wind">
                    <img src="images/economy/2.jpg" alt="Блакитна економіка - а що це таке?">
                </div>
            </div>
        </div>
    </div>
</section>
<div class="rules" id="rules">
    <div class="wrapper">
        <div class="rules__container">
            <h2 class="title">
                Регламент хакатона
            </h2>
            <a href="#" download>
                Завантажити PDF - регламент хакатона
            </a>
        </div>
    </div>
</div>
<div class="section-group">
    <section class="winners">
        <div class="wrapper">
            <div class="winners__container">
                <div class="images">
                    <img src="images/winners.jpg" alt="Переможці та нагородження">
                    <a href="#" target="_blank">
                        <div class="play-img">
                            <img src="images/icon/play.svg" alt="play">
                        </div>
                        <span>Дивитись відео</span>
                    </a>
                </div>
                <div class="info">
                    <span class="label">
                        Переможцями стали
                    </span>
                    <h2 class="title">
                        Переможці&nbsp;та<br> нагородження
                    </h2>
                    <div class="group">
                        <div class="group__image">
                            <img src="images/icon/star-accent.svg" alt="star">
                        </div>
                        <div class="group__info">
                            <h3>Нагорода:</h3>
                            <p>
                                Vitae quis nunc ultricies amet fermentum tincidunt mollis.
                                Quis viverra libero viverra a nisi in at justo vulputate.
                                Tincidunt leo in mauris donec ornare
                            </p>
                        </div>
                    </div>
                    <div class="group">
                        <div class="group__image">
                            <img src="images/icon/winners.svg" alt="star">
                        </div>
                        <div class="group__info">
                            <h3>Перемогли:</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur. Eu morbi id amet in ipsum.
                                Vitae commodo amet quisque aenean fringilla ultrices malesuada
                                dui pulvinar.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="competition" id="competition">
        <div class="wrapper">
            <div class="competition__container">
                <span class="label">
                    Що потрібно знати для участі
                </span>
                <h2 class="title">
                    Умови конкурсу
                </h2>
                <h3 class="subtitle">
                    Умови конкурсу дуже прості:
                </h3>
                <div class="competition__blocks">
                    <div class="block">
                        <div class="image">
                            <img src="images/icon/rocket.svg" alt="Ваш проект">
                        </div>
                        <p>
                            Ваш проект повинен бути спрямований на створення стартапу в блакитній
                            економіці та використовувати цифрові технології для його прискорення
                        </p>
                    </div>
                    <div class="block">
                        <div class="image">
                            <img src="images/icon/business-partnership.svg" alt="Ваша команда">
                        </div>
                        <p>
                            Ваша команда повинна бути
                            з Одеського регіону та складатися
                            з молодих талановитих людей
                        </p>
                    </div>
                </div>
                <p class="text">
                    Не пропустіть свій шанс створити успішний стартап та отримати фінансування від
                    Європейського Союзу. Заповнюйте форму на платформі та надсилайте заявки до 30
                    квітня 2023 року! Успіхів вам!
                </p>
                <a class="target-form" href="#">Заповнити форму</a>
            </div>
        </div>
    </section>
</div>
