@media (max-width: 1550px) {
    .competition {
        &__blocks {
            .block {
                padding: 52px 58px 51px 36px;
            }
        }
    }
    .details {
        .detail {
            padding: 55px 20px;
        }
    }
    .gallery {
        .banner {
            max-width: 1240px;
        }
    }
}

@include big-desktop {
    .competition {
        &__blocks {
            .block {
                gap: 18px;

                .image {
                    width: 90px;
                    height: 90px;
                    min-width: 90px;
                    min-height: 90px;
                }
                p {
                    font-size: 18px;
                }
            }
        }
    }
    .looking {
        &__container {
            padding: 55px 75px;
            gap: 40px;
        }
    }
    .gallery {
        .banner {
            max-width: 1040px;
        }
    }
}

@include small-desktop {
    .main-screen {
        .subtitle {
            font-size: 40px;
        }
        .title {
            font-size: 90px;
        }
    }
    .point {
        padding-top: 100px;
        &__container {
            .title {
                font-size: 40px;
            }
        }
    }
    .info-banner {
        .title {
            font-size: 40px;
        }
    }
    .rules {
        .title {
            font-size: 40px;
        }
    }
    .winners {
        padding-top: 100px;
        padding-bottom: 100px;

        &__container {
            gap: 40px;
        }

        .info {
            .group {
                gap: 16px;
            }
            .title {
                font-size: 40px;
            }
        }
    }
    .competition {
        padding-top: 100px;
        padding-bottom: 100px;

        .title {
            font-size: 40px;
        }
        &__blocks {
            .block {
                min-height: 240px;
            }
        }
    }
    .looking {
        .content {
            .title {
                font-size: 40px;
            }
        }
        &__container {
            align-items: flex-start;
        }
    }
    .doit {
        &__text {
            padding-bottom: 0;
        }
        &__container {
            padding: 40px;
            bottom: -150px;

            .title {
                font-size: 40px;
            }
        }
    }
    .details {
        padding-top: 100px;
        .title {
            font-size: 40px;
        }
        &__container {
            grid-template-columns: repeat(2, 1fr);
            padding-bottom: 50px;
        }
    }
    .result {
        .title {
            font-size: 40px;
        }

        &__info {
            gap: 40px;
        }
    }
    .gallery {
        .banner {
            max-width: 800px;

            .title {
                font-size: 40px;
            }
        }
    }
    .about-us {
        padding-top: 100px;
        padding-bottom: 100px;

        .title {
            font-size: 40px;
        }

        &__container {
            gap: 25px;

            .info {
                gap: 15px;
            }
        }
    }
}

@include tablet {
    .economy {
        .group {
            flex-direction: column;

            &:nth-child(even) {
                flex-direction: column;
            }
        }
    }
    .section-group {
        background-size: auto;
    }
    .winners {
        &__container {
            flex-direction: column-reverse;
        }
    }
    .competition {
        &__blocks {
            flex-direction: column;

            .block {
                max-width: 600px;
                min-height: inherit;
            }
        }
    }
    .looking {
        &__container {
            flex-direction: column;
        }

        .content {
            max-width: inherit;
        }

        .images {
            width: fit-content;
            margin: 0 auto;
        }
    }
    .gallery {
        padding-bottom: 100px;

        .banner {
            max-width: 700px;
            padding: 35px;
        }
    }
    .about-us {
        .text {
            margin-bottom: 15px;
        }

        &__container {
            flex-wrap: wrap;
            justify-content: center;

            .info {
                &:not(:last-child) {
                    margin-bottom: 25px;
                }
            }
        }

        &__logo {
            width: 100%;
            order: -1;
            text-align: center;
            padding: 140px 0;
        }
    }
}

@include small-tablet {
    .main-screen {
        .subtitle {
            font-size: 30px;
        }
        .title {
            font-size: 70px;
        }
        .text {
            font-size: 18px;
            max-width: 561px;
        }
    }
    .point {
        padding-top: 50px;
        padding-bottom: 25px;

        &__container {
            .title {
                font-size: 30px;
            }
            .text {
                font-size: 18px;
            }
        }
        .swiper-slide-next {
            .image {
                opacity: .3;
            }
        }
    }
    .info-banner {
        padding-top: 25px;
        padding-bottom: 25px;

        &__container {
            padding: 40px 20px;
        }

        .title {
            font-size: 30px;
        }
    }
    .economy {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .rules {
        padding-top: 25px;
        padding-bottom: 50px;

        .title {
            font-size: 30px;
            margin-bottom: 30px;
        }

        &__container {
            padding: 60px 30px;
        }

        a {
            font-size: 14px;
            padding: 22px 15px;
            max-width: fit-content;
        }
    }
    .winners {
        padding-top: 50px;
        padding-bottom: 25px;

        .info {
            .title {
                font-size: 30px;
                margin-top: 30px;
                margin-bottom: 40px;

                br {
                    display: none;
                }
            }

            .group {
                &:not(:last-child) {
                    margin-bottom: 25px;
                }

                &__image {
                    width: 75px;
                    height: 75px;
                    min-width: 75px;
                    min-height: 75px;
                }

                h3 {
                    font-size: 18px;
                    margin-bottom: 10px;
                }
                p {
                    font-size: 16px;
                }
            }
        }

        .images {
            a {
                right: 0;
                bottom: 0;
            }
        }
    }
    .competition {
        padding-top: 25px;
        padding-bottom: 25px;

        .title {
            font-size: 30px;
        }

        .subtitle {
            margin-bottom: 25px;
        }

        &__blocks {
            .block {
                padding: 50px 20px;

                p {
                    font-size: 16px;
                }
            }
        }

        .text {
            margin-top: 25px;
            margin-bottom: 40px;
            font-size: 16px;
        }
    }
    .looking {
        padding-top: 100px;

        &__container {
            padding: 55px 35px;
        }

        .content {
            .title {
                font-size: 30px;
                margin-top: 30px;
                margin-bottom: 30px;
            }
            .text {
                font-size: 18px;
                margin-bottom: 30px;
            }
            .block {
                gap: 20px;
                padding: 15px;

                strong {
                    font-size: 12px;
                }
                p {
                    font-size: 16px;
                }
            }
        }
    }
    .doit {
        padding-top: 40px;

        &__text {
            flex-direction: column;
            gap: 25px;
            padding-bottom: 150px;

            p {
                max-width: inherit;
                font-size: 18px;
            }
        }
        &__container {
            padding: 40px;
            bottom: -125px;

            .title {
                font-size: 30px;
                margin-top: 30px;
                margin-bottom: 40px;
            }
        }
    }
    .details {
        padding-top: 25px;
        padding-bottom: 25px;

        .title {
            font-size: 30px;
            margin-top: 30px;
        }
        &__container {
            grid-template-columns: repeat(2, 1fr);
            padding-bottom: 50px;
        }

        .detail {
            padding: 35px 15px;

            .image {
                img {
                    max-width: 180px;
                }
            }

            h3 {
                font-size: 18px;
                margin-top: 20px;
                margin-bottom: 25px;
            }
            p {
                font-size: 16px;
            }
        }
    }
    .result {
        padding-top: 25px;
        padding-bottom: 25px;

        &__container {
            .image {
                margin-bottom: 40px;
            }
        }

        .title {
            font-size: 30px;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        &__info {
            gap: 20px;

            .info {
                gap: 20px;

                &__text {
                    font-size: 18px;
                }
            }
        }

        &__summary {
            .text {
                font-size: 18px;
            }
        }
    }
    .gallery {
        padding-top: 25px;
        padding-bottom: 25px;

        &__top,
        &__bottom {
            gap: 10px;
        }

        &__top {
            margin-bottom: 10px;
        }
        .banner {
            max-width: 500px;
            .title {
                font-size: 30px;
                margin-bottom: 15px;
            }
            .text {
                font-size: 18px;
                margin-top: 15px;
                margin-bottom: 15px;
            }
        }
    }
    .about-us {
        padding-top: 25px;
        padding-bottom: 50px;

        .title {
            font-size: 30px;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .text {
            font-size: 18px;
        }
    }
}

@include mobile {
    .main-screen {
        padding-top: 145px;

        &__container {
            padding-bottom: 75px;
        }

        .subtitle {
            font-size: 20px;
        }
        .title {
            font-size: 50px;
        }
        .text {
            font-size: 16px;
            max-width: 500px;
        }

        .links-group {
            gap: 10px;

            a {
                padding: 21px 10px;
            }
        }
    }
    .point {
        &__container {
            .title {
                font-size: 24px;
            }
            .text {
                font-size: 16px;
            }
        }
    }
    .info-banner {
        &__container {
            padding: 40px 10px;
        }

        .title {
            font-size: 24px;
        }
    }
    .economy {
        .group {
            &:not(:last-child) {
                margin-bottom: 35px;
            }

            .title {
                font-size: 30px;
                margin-top: 30px;
                margin-bottom: 35px;
            }

            .text {
                font-size: 18px;
            }

            .images {
                &::after {
                    width: 80px;
                    height: 80px;
                    bottom: 40px;
                }
            }
        }
    }
    .rules {
        .title {
            font-size: 24px;
        }
        a {
            padding: 15px;
            text-align: center;
        }
    }
    .competition {
        .title {
            font-size: 24px;
        }
    }
    .looking {
        padding-top: 250px;

        &__container {
            padding: 50px 15px;
        }

        .content {
            .title {
                font-size: 24px;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            .text {
                font-size: 16px;
            }
            .block {
                gap: 10px;
                padding: 15px 10px;

                strong {
                    font-size: 11px;
                }
                p {
                    font-size: 15px;
                }
            }
        }
    }
    .doit {
        &__text {
            padding-bottom: 200px;

            p {
                font-size: 16px;
            }
        }
        &__container {
            padding: 40px 20px;
            bottom: -100px;

            .title {
                font-size: 24px;
            }
        }
    }
    .details {
        .title {
            font-size: 24px;
        }
        &__container {
            grid-template-columns: 1fr;
        }
    }
    .result {
        .title {
            font-size: 24px;
        }

        &__info {
            flex-direction: column;

            .info {
                &__text {
                    font-size: 16px;
                }
            }
        }
        &__summary {
            padding-left: 15px;
            padding-right: 15px;
            .text {
                font-size: 16px;
            }
        }
    }
    .gallery {
        &__top,
        &__bottom {
            flex-direction: column;
        }
        .image {
            img {
                max-height: 420px;
                min-height: 420px;
            }
        }

        .banner {
            position: static;
            transform: none;
            margin-top: 25px;
            max-width: inherit;
            border-radius: 12px;

            .title {
                font-size: 24px;
            }
        }
    }
    .about-us {
        .title {
            font-size: 24px;
        }
        .text {
            font-size: 16px;
        }
        &__logo {
            padding: 100px 0;

            &::before {
                width: 300px;
                height: 300px;
            }

            img {
                max-width: 350px;
                width: 100%;
            }
        }
        &__container {
            .info {
                h3 {
                    font-size: 18px;
                    margin-bottom: 15px;
                }
                p {
                    font-size: 16px;
                }
            }
        }
    }
}

@include small-mobile {
    .main-screen {
        .title {
            font-size: 40px;
        }
        .links-group {
            a {
                font-size: 14px;
            }
        }
    }
    .point {
        &__container {
            .title {
                font-size: 20px;
            }
        }
    }
    .info-banner {
        .title {
            font-size: 20px;
        }
    }
    .competition {
        &__blocks {
            .block {
                flex-direction: column;
                padding: 40px 20px;

                p {
                    text-align: center;
                }
            }
        }
    }
    .looking {
        .content {
            .block {
                flex-direction: column;
            }
        }
    }
    .doit {
        &__text {
            padding-bottom: 250px;
        }
        &__container {
            .title {
                font-size: 20px;
            }
        }
    }
    .result {
        .title {
            font-size: 20px;
        }
    }
    .gallery {
        .image {
            img {
                max-height: 320px;
                min-height: 320px;
            }
        }
    }
}
